{% extends 'index.html' %}

{% block title %}
    Home | {{project_name}}
{% endblock title  %}

{% block content %}
     <h1>Panel Správce</h1>
     <div> Pro přístup se potřebuješ přihlásit! </div>

     <form action="{{url_for('admin_login')}}" method="post">
        <input type="text" class="reservation_input_text" placeholder="Username" name="username">
        <input type="password" class="reservation_input_text" placeholder="Password" name="password">
        <input type="submit" class="reservation_submit_button" value="Přihlásit" style="float: none; margin-left: 0">
     </form>
{% endblock content %}