{% extends 'index.html' %}

{% block title %}
    Home | {{project_name}}
{% endblock title  %}

{% block content %}
     <h1>Panel Správce</h1>
     <button onclick="logOff()" class="reservation_submit_button" style="float: none; margin-left: 0">Odhlásit se</button>

     <br>
     <div>Legenda a filtr</div>
     <table>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Význam
            </th>
            <th>
                Filtr
            </th>
        </tr>

        <tr>
            <td>
                <img class="asymbol" src="{{url_for('static', filename='images/future.png')}}">
            </td>
            <td>
                Budoucnost
            </td>
            <td>
                <input onclick="onFilterChange()" id="filter_future" type="checkbox" checked>
            </td>
        </tr>

        <tr>
            <td>
                <img class="asymbol" src="{{url_for('static', filename='images/past.png')}}">
            </td>
            <td>
                Minulost
            </td>
            <td>
                <input onclick="onFilterChange()" id="filter_past" type="checkbox" checked>
            </td>
        </tr>

        <tr>
            <td>
                <img class="asymbol" src="{{url_for('static', filename='images/today.png')}}">
            </td>
            <td>
                Dnešek
            </td>
            <td>
                <input onclick="onFilterChange()" id="filter_today" type="checkbox" checked>
            </td>
        </tr>

        <tr>
            <td>
                <img class="asymbol" src="{{url_for('static', filename='images/cancelled.png')}}">
            </td>
            <td>
                Zrušeno
            </td>
            <td>
                <input onclick="onFilterChange()" id="filter_cancelled" type="checkbox" checked>
            </td>
        </tr>
     </table>

     <h2>Rezervace</h2>

     <table id="reservations_table">
        <tr>
            <th class="atable_th">
                Status
            </td>
            <th class="atable_th">
                ID
            </th>
            <th class="atable_th">
                Jméno
            </th>
            <th class="atable_th">
                Přijmení
            </th>
            <th class="atable_th">
                Rok narození
            </th>
            <th class="atable_th">
                Email
            </th>
            <th class="atable_th">
                Telefon
            </th>
            <th class="atable_th">
                Datum
            </th>
            <th class="atable_th">
                Čas
            </th>
            <th class="atable_th">
                Typ masáže
            </th>
            <th class="atable_th">
                Poznámky
            </th>
            <th class="atable_th">
                Aktivní
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>

     {% for r in rm.reservations %}

        {% if loop.index % 2 == 0 %}
            {% set classtd = "atable_td1" %}
        {% else %}
            {% set classtd = "atable_td2" %}
        {% endif %}

        <tr id="{{r.get_id()}}">
            <td class="{{classtd}}">
                {% if r.active == "1" %}
                    {% if r.date_object > date %}
                        {% set type = "future" %}
                        <img class="asymbol" src="{{url_for('static', filename='images/future.png')}}">
                    {% elif r.date_object < date %}
                        {% set type = "past" %}
                        <img class="asymbol" src="{{url_for('static', filename='images/past.png')}}">
                    {% else %}
                        {% set type = "today" %}
                        <img class="asymbol" src="{{url_for('static', filename='images/today.png')}}">
                    {% endif %}
                {% else %}
                    <img class="asymbol" src="{{url_for('static', filename='images/cancelled.png')}}">
                    {% set type = "cancelled" %}
                {% endif %}

                <div id="type;{{r.get_id()}}" style="display: none">{{type}}</div>
            </td>
            <td class="{{classtd}}">
                {{r.get_id()}}
            </td>
            <td class="{{classtd}}">
                {{r.name}}
            </td>
            <td class="{{classtd}}">
                {{r.surname}}
            </td>
            <td class="{{classtd}}">
                {{r.year}}
            </td>
            <td class="{{classtd}}">
                {{r.email}}
            </td>
            <td class="{{classtd}}">
                {{r.phone}}
            </td>
            <td class="{{classtd}}">
                {{r.date}}
            </td>
            <td class="{{classtd}}">
                {{r.time}}
            </td>
            <td class="{{classtd}}">
                {{r.massage_type}}
            </td>
            <td class="{{classtd}}">
                {{r.notes}}
            </td>
            <td class="{{classtd}}">
                {{r.active}}
            </td>
            
            <!-- Check if reservation is active or not, then add valid buttons -->
            <td class="{{classtd}}">
                {% if r.active == "1" %}
                    <button onclick="setReservationActiveStatus(this, '0')" id="{{r.get_id()}}" style="font-size: 100%; margin: auto; width: 100%" class="reservation_submit_button">
                        Zrušit
                    </button>
                {% else %}
                    <button onclick="setReservationActiveStatus(this, '1')" id="{{r.get_id()}}" style="font-size: 100%; margin: auto; width: 100%" class="reservation_submit_button">
                        Obnovit
                    </button>
                {% endif %}
            </td>
        </tr>
     {% endfor %}

    </table>
{% endblock content %}

{% block script %}
    <script>
        const urlSetReservationActiveStatus = "{{url_for('admin_set_reservation_active_status')}}";
        const reservationsTableElmnt = document.getElementById("reservations_table");

        // Filters
        const filterFuture = document.getElementById("filter_future");
        const filterPast = document.getElementById("filter_past");
        const filterToday = document.getElementById("filter_today");
        const filterCancelled = document.getElementById("filter_cancelled");

        function onFilterChange()
        {
            console.log("Filter changed.");

            // Find all the <tr> elements in the table's <tbody>
            var rows = reservationsTableElmnt.getElementsByTagName("tr");

            // Loop through each <tr> element
            for (var i = 0; i < rows.length; i++) {
                // Access the current row (tr)
                var row = rows[i];
                
                if (row.id != "")
                {
                    var type = document.getElementById("type;" + row.id).innerText;

                    if (type == "future")
                    {
                        if (filterFuture.checked)
                        {
                            row.style.display = "";
                        }
                        else
                        {
                            row.style.display = "none";
                        }
                    }
                    else if (type == "past")
                    {
                        if (filterPast.checked)
                        {
                            row.style.display = "";
                        }
                        else
                        {
                            row.style.display = "none";
                        }
                    }
                    else if (type == "today")
                    {
                        if (filterToday.checked)
                        {
                            row.style.display = "";
                        }
                        else
                        {
                            row.style.display = "none";
                        }
                    }
                    else if (type == "cancelled")
                    {
                        if (filterCancelled.checked)
                        {
                            row.style.display = "";
                        }
                        else
                        {
                            row.style.display = "none";
                        }
                    }
                }
            }
        }

        function logOff()
        {
            window.location.replace("{{url_for('session_reset')}}");   
        }

        function setReservationActiveStatus(elmnt, active)
        {
            var reservationId = elmnt.id;
            var url = urlSetReservationActiveStatus + "/" + reservationId + "/" + active;

            $.ajax({
                url: url,
                success: function(data) {
                    if (data == "y")
                    {
                        // Reload page
                        window.location.replace("{{url_for('admin')}}");   
                    }
                    else if (data == "n")
                    {
                        alert("Něco se nepovedlo!");
                    }
                },
                error: function(jqXHR,error, errorThrown) {  
                    // TODO IF ERROR
                },
            });
            
        }
    </script>
{% endblock script %}
