* 
{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.page_title_box
{
    position: absolute;
    padding: 5px;
}

.page_title_1
{
   font-size: 30px;
   margin-left: 10px;
}

.page_title_2
{
   font-size: 16px;
}

.page_title_separator
{
    border-color: rgb(214, 214, 37);
    width: 50%;
    margin: 0 auto;
    margin-top: 6px;
    opacity: 0.3;
}

nav
{
    text-align: center;
}

.nav_a
{
    display: inline-block;
    text-decoration: none;
    color: rgb(189, 169, 58);
    margin-left: 50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 150%;

    transition: color 1.0s ease-out, background-color 1.0s ease-out;
}

.nav_a:hover
{
    color: rgb(97, 94, 77);
    background-color: rgb(199, 197, 188, 0.44); 
}

.logo_part_1
{
    filter: blur(1px);
    opacity: 0.05;
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
}
