* 
{
    font-family: 'Open Sans', sans-serif;
    color: black;
    cursor:url("/static/images/cursor.png"), auto;

}

:root
{
    --light_wood_color: rgb(222, 184, 135, 0.5);
    --nav_a_color: rgb(189, 169, 58);
    --page_title_separator_color: rgb(214, 214, 37);
}

#content_box
{
    width: 100%;
    padding: 30px;
}

.page_title_box
{
    position: absolute;
    padding: 5px;
}

.page_title_1
{
   font-size: 30px;
   margin-left: 10px;
}

.page_title_2
{
   font-size: 16px;
}

#page_title_separator
{
    border-color: var(--page_title_separator_color);
    width: 25%;
    margin: 0 auto;
    margin-top: 6px;
    opacity: 0.3;
}

.paragraph_1
{
    width: 50%;
    font-size: 125%;
}

nav
{
    text-align: center;
}

.nav_a
{
    display: inline-block;
    text-decoration: none;
    color: var(--nav_a_color);
    margin-left: 50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 150%;
    transition: color 1.0s ease-out, background-color 1.0s ease-out;
}

.nav_a:hover
{
    color: rgb(97, 94, 77);
    background-color: rgb(199, 197, 188, 0.44); 
}

#logo_part_1
{
    filter: blur(1px);
    opacity: 0.15;
    position:fixed;
    left: 0; 
    right: 0; 
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    max-height: 50%;
    z-index: -1;
}

.price
{
    background-color: var(--light_wood_color);
    padding: 50px;
    border-radius: 50px;
    width: 500px;
    min-width: 500px;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 25px;
    transition: filter 1s ease-out, width 0.75s ease-out;
}

.price:hover
{
    filter: brightness(1.25);
    width: 550px;
}

.price_title
{
    font-size: 250%;
    text-align: center;
    margin-bottom: 25px;
}

.price_logo
{
    max-width: 75px;
}

.price_time
{
    font-size: 200%;
}

.price_body_parts
{
    font-style: italic;
    font-size: 150%;
}

.price_box
{
    text-align: center;
}

.price_money
{
    font-size: 125%;
    color:  rgb(71, 71, 71);
    filter: brightness(1.5);
    text-align: right;
}