{% extends 'index.html' %}

{% block title %}
    Ceník | {{project_name}}
{% endblock title  %}

{% block content %}
     <div class="price_box">
       <div class="price">
            <div class="price_title">
                Základ
            </div>
            <div class="price_time">
                60 Minut
            </div>
            <div class="price_body_parts">
                Záda + Nohy
            </div>
            <div class="price_money">
                720 KČ
            </div>
       </div>
       <div class="price">
        <div class="price_title">
            All In One | Základ
        </div>
        <div class="price_time">
            60 Minut
        </div>
        <div class="price_body_parts">
            Celotělová masáž
        </div>
        <div class="price_money">
            720 KČ
        </div>
        </div>
        <div class="price">
            <div class="price_title">
                All In One | Základ+
            </div>
            <div class="price_time">
                90 Minut
            </div>
            <div class="price_body_parts">
                Celotělová masáž
            </div>
            <div class="price_money">
                1120 KČ
            </div>
        </div>
     </div>
{% endblock content %}