<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="keywords" content="Masáže, Veronika, TODO">
        <meta name="author" content="PoruTo">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        <script src="{{url_for('static', filename='jquery-3.6.0.min.js')}}"></script>
        <script src="{{url_for('static', filename='helpers.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
        
        {% block head %}
        {% endblock head %}
    </head>

    <body id="body">
        <div class="page_title_box">
            <div class="page_title_1">
                Masáže domů
            </div>
            <div class="page_title_2">
                v srdci Kroměříže a okolí
            </div>
            <img id="flower_image" src="{{url_for('static', filename='images/flower.png')}}">
        </div>
        <header>
            {% include 'nav.html' %}
        </header>
        <hr id="page_title_separator">
        
        <img id="logo_part_1" src="{{url_for('static', filename='images/logo_part_1.png')}}">

        <br>
        {% block bContent %}
        {% endblock bContent  %}
        <div id="content_box">
            {% block content %}
            {% endblock content  %}
        </div>
        <footer>
            {% include 'footer.html' %}
        </footer>
    </body>

    <script>
          document.getElementById("content_box").addEventListener("click", hideMobileMenu);
          $("#page_title_separator").animate({ width: '60%' }, {duration: 1500, queue: false});
          $("#logo_part_1").animate({ opacity:'0.03' }, {duration: 1500, queue: false});
    </script>


    {% block script %}
    {% endblock script %}
</html>