{% extends 'index.html' %}

{% block title %}
    Kontakt | {{project_name}}
{% endblock title  %}

{% block content %}
     <p class="paragraph_1">
        Na Vaše dotazy Vám odpovím co nejdříve to půjde a pokusím se Vám vyjít co nejvíce vstříc.
     </p>

     <p class="paragraph_1">
        <strong>Pokud si chcete objednat balíček masáží či dárkový poukaz, prosím, napište mi na e-mail.</strong>
     </p>

     <table>
        <tr>
            <th class="contact_td">
                <img class="contact_piktogram" src="{{url_for('static', filename='images/email.png')}}"> 
            </th>
            <td class="contact_td">
                <a href="mailto:masazedomukm@gmail.com">masazedomukm@gmail.com</a>
            </td>
        </tr>
        <tr>
            <th class="contact_td">
                <img class="contact_piktogram" src="{{url_for('static', filename='images/phone.png')}}"> 
            </th>
            <td class="contact_td">
                +420 607 008 505
            </td>
        </tr>
     </table>
{% endblock content %}