{% extends 'index.html' %}

{% block title %}
    Home | {{project_name}}
{% endblock title  %}

{% block content %}
     <h1>Srdečně Vás zdravím na svém webu,</h1>

     <div class="main_1">
         <p class="paragraph_3">
            ráda bych se Vám představila. Mé jméno je Veronika a jsem začínající masérka. Zaměřuji se na sportovní, regenerační a relaxační masáže. 
         </p>
      
         <p class="paragraph_3">
            Již od malička mě zajímala anatomie a lidské tělo. Studovat principy masáží a následně je aplikovat do praxe se tedy stalo mým koníčkem. Mimo fyzické tělo se také zajímám o psychologii, která mi pomáhá porozumět tomu, jaký význam má pro naše duševní zdraví fyzická schránka a naopak. Masáže uzdravují, regenerují a dávají tělu nový náboj do života. 
         </p>
      
         <p class="paragraph_3">
               Masíruji přímo u Vás doma, ve Vašem nejpřirozenějším prostředí. Nemusíte tedy nikam jezdit nebo být ve stresu z cizího prostředí.
         </p>
      
         <p class="paragraph_3">
            Vstřícnost a individuální přístup je pro mne u klientů prioritou, a proto jestli uvažujete nad některou z masáží, neváhejte se na mne obrátit.
         </p>
     </div>

     <div class="main_3">
         <img class="main_3_image" src="{{url_for('static', filename='images/benefit.png')}}">
         <h1 style="text-align: center; display: inline-block">Benefity masáže</h1>
         <p class="paragraph_3">
            Masáž je především uvolňující a regenerující, ale přináší celou řadu dalších benefitů. Zlepšuje prokrvení kůže, napomáhá celkové detoxikaci organismu, má uklidňující účinek na nervová zakončení, pomáhá s odváděním vody, napomáhá redukci celulitidy, předchází zánětu šlach a zrychluje regeneraci svalů a celkově napomáhá duševnímu zdraví.
         </p>
      </div>

      <img class="main_2" src="{{url_for('static', filename='images/veronika.jpg')}}">

     <p class="paragraph_1">
        S pozdravem
        Veronika
     </p>
{% endblock content %}