<nav>
    <div class="nav_box">
        <a id="home" class="nav_a" href=" {{ url_for('index') }}">Domů</a>
        <a id="reservation" class="nav_a" href=" {{ url_for('rezervace') }}">Rezervace</a>
        <a id="cenik" class="nav_a" href=" {{ url_for('cenik') }}">Ceník</a>
        <a id="kontakt" class="nav_a" href=" {{ url_for('kontakt') }}">Kontakt</a>
        <a id="blog" class="nav_a" href=" {{ url_for('blog') }}">Blog</a>
    </div>
 </nav>

 <script>
    document.getElementById("{{nav_page}}").style.color = "rgb(97, 94, 77, 1)";
    document.getElementById("{{nav_page}}").style.backgroundColor = "rgb(199, 197, 188, 0.44)"; 
 </script>