{% extends 'index.html' %}

{% block title %}
    Rezervace | {{project_name}}
{% endblock title  %}

{% block content %}
    <p class="paragraph_1">
        Zde si můžete zarezervovat Vám nejvíce vyhovující termín. Vše probíhá velmi snadně a rychle. Pro rezervaci vyplňte následující formulář:
    </p>

     <div class="reservation_box">
        <div class="reservation_title">
            Rezervace
        </div>
        <form id="reservation_form" action="{{url_for('rezervace_create')}}" method="post">

             <table style="width: 100%">

                <tr>
                    <td>
                        E-mail
                    </td>
                    <td>
                        <input style="width: 100%;" id="reservation_email" name="reservation_email" type="text" class="reservation_input_text" placeholder="Ukazkovy@email.cz">
                    </td>
                </tr>

                <tr>
                    <td>
                        Bydliště
                    </td>
                    <td>
                        <input style="width: 100%;" id="reservation_place" name="reservation_place" type="text" class="reservation_input_text" placeholder="Kroměříž, Ulice Hlavní 123, 100 00">
                    </td>
                </tr>

                <tr>
                    <td>
                        Jméno
                    </td>
                    <td>
                        <input style="width: 50%;" id="reservation_name" name="reservation_name" type="text" class="reservation_input_text" placeholder="Jméno">
                    </td>
                </tr>

                <tr>
                    <td>
                        Přijmení
                    </td>
                    <td>
                        <input style="width: 50%;" id="reservation_surname" name="reservation_surname" type="text" class="reservation_input_text" placeholder="Přijmení">
                    </td>
                </tr>

                <tr>
                    <td>
                        Telefonní číslo
                    </td>
                    <td>
                        <input style="max-width: 100px; width: 100px;" id="reservation_phone" name="reservation_phone" type="text" class="reservation_input_text" placeholder="000 000 000">
                    </td>
                </tr>

                <tr>
                    <td>
                        Rok narození
                    </td>
                    <td>
                        <input style="width: 60px;" id="reservation_year" name="reservation_year" type="number" min="1900" max="2100" class="reservation_input_text" placeholder="2000" value="2000">
                    </td>
                </tr>
             </table>

            <br>

            <p>
                Termíny během týdne se liší podle dne, ale o víkendech jsem flexibilní a časy se mohou měnit podle potřeb. Víkendy jsou více volné a spontánní, což mi umožňuje Vám lépe vyhovět.
            </p>

            <label class="reservation_label" for="reservation_date">Datum</label>
            <input onchange="onDateChange()" style="width: fit-content;" id="reservation_date" name="reservation_date" type="date" class="reservation_input_text" placeholder="">


            <label for="reservation_time" class="reservation_label">Čas</label>

            <select style="min-width: 70px;" onchange="isReservationAvailable()" id="reservation_time" class="reservation_select" name="reservation_time" size="1">  
            </select>  

            <br>
            <div class="reservation_available" id="available"></div>

            <br>
            <br>

            <label class="reservation_label" for="reservation_type">Typ masáže</label>

            <br>
            <select style="margin-top: 3px; width: 100%;" class="reservation_select" name="reservation_type" size="1">  
                <option value="Masáž záda + šíje 60 minut | Základní masáž I">Masáž záda + šíje 60 minut | Základní masáž I</option> 
                <option value="Masáž záda + nohy 60 minut | Základní masáž II">Masáž záda + nohy 60 minut | Základní masáž II</option> 
                <option value="Masáž záda + nohy 60 minut | Masáž s více soukromím">Masáž záda + nohy 60 minut | Masáž s více soukromím</option> 
                <option value="Masáž záda + šíje + nohy + ruce	90 minut | Celotělová">Masáž záda + šíje + nohy + ruce	90 minut | Celotělová</option>
                <option value="60 minut, dle vlastního výběru">60 minut, dle vlastního výběru</option>
                <option value="90 minut, dle vlastního výběru">90 minut, dle vlastního výběru</option>
            </select>  

            <br>
            <br>

            <label class="reservation_label" for="reservation_notes">Prostor pro Vaše poznámky</label>
            <br>
            <textarea name="reservation_notes" class="reservation_notes"></textarea>
            <br>

            <input type="checkbox" id="reservation_terms_checkbox" class="reservation_terms_checkbox">
            <label class="reservation_label" for="reservation_terms_checkbox">Souhlasím se <a class="reservation_terms_a" href="{{url_for('rezervace_podminky')}}" target="_blank">zpracováním osobních údajů a podmínkami rezervace</a>.</label>

            <br>
            <input onclick="submitForm()" type="button" class="reservation_submit_button" value="Potvrdit">
        </form>
     </div>

    <p class="paragraph_1">
        <strong>Pokud byste raději komunikovali přímo se mnou nebo měli více dotazů či požavků, budu ráda, když mne kontaktujete. V sekci „Kontakt“ najdete mé telefonní číslo a e-mailovou adresu.</strong>
    </p>

    <p class="paragraph_1">
        Děkuji za Váš zájem o mé masáže a těším se na to, že Vás brzy uvidím!
    </p>
{% endblock content %}

{% block script %}
    <script>
        const reservationDateElmnt = document.getElementById("reservation_date");
        const reservationTimeSelElmnt = document.getElementById("reservation_time");
        const reservationAvailableElmnt = document.getElementById("available");

        const termsCheckBox = document.getElementById("reservation_terms_checkbox");
        const reservationForm = document.getElementById("reservation_form");

        // Min date select
        reservationDateElmnt.min = new Date().toISOString().split('T')[0];

        const urlCheckIfReservationAvailable = "{{ url_for('is_reservation_available') }}"

        function isWeekend(date = new Date()) {
        return date.getDay() === 6 || date.getDay() === 0;
        }

        function submitForm()
        {
            if (termsCheckBox.checked)
            {
                reservationForm.submit();
            }
            else
            {
                alert("Před potvrzením musíte souhlasit se zpracováním osobních údajů a podmínkami rezervace!");
            }
        }

        function isReservationAvailable()
        {
            var date = reservationDateElmnt.value;
            var time = reservationTimeSelElmnt.value;

            if (date == "" || time == "")
            {
                console.log("Date or time not selected");
                return;
            }
            else
            {
                var url = urlCheckIfReservationAvailable + "/" + date + "/" + time;

                $.ajax({
                    url: url,
                    success: function(data) {
                        if (data == "y")
                        {
                            reservationAvailableElmnt.innerHTML = "<div style='color: #51a327'>Termín je dostupný.</div>";
                        }
                        else if (data == "n")
                        {
                            reservationAvailableElmnt.innerHTML = "<div style='color: red'>Termín je obsazen!</div>";
                        }
                    },
                    error: function(jqXHR,error, errorThrown) {  
                        // TODO IF ERROR
                    },
                });
            }
        }

        function onDateChange()
        {
            var date = new Date(reservationDateElmnt.value);
            var dayNumber = date.getDay();

           // Weekend
           if (isWeekend(date))
           {
                reservationTimeSelElmnt.innerHTML = '';
                reservationTimeSelElmnt.innerHTML += '<option value="9:00">9:00</option>';
                reservationTimeSelElmnt.innerHTML += '<option value="11:30">11:30</option>';
                reservationTimeSelElmnt.innerHTML += '<option value="14:00">14:00</option>';
                reservationTimeSelElmnt.innerHTML += '<option value="16:30">16:30</option>';
                reservationTimeSelElmnt.innerHTML += '<option value="19:00">19:00</option>';
           }
           // Monday, Tuesday, Friday
           else if (dayNumber == 1 || dayNumber == 2 || dayNumber == 5)
           {
                reservationTimeSelElmnt.innerHTML = '';
                reservationTimeSelElmnt.innerHTML += '<option value="16:00">16:00</option>';
                reservationTimeSelElmnt.innerHTML += '<option value="18:00">18:00</option>';
           }
           // Wednesday
           else if (dayNumber == 3)
           {
                reservationTimeSelElmnt.innerHTML = '';
                reservationTimeSelElmnt.innerHTML += '<option value="16:00">16:00</option>';
           }
           // Thursday
           else if (dayNumber == 4)
           {
                reservationTimeSelElmnt.innerHTML = '';
                reservationTimeSelElmnt.innerHTML += '<option value="18:00">18:00</option>';
           }

           isReservationAvailable()
        }
    </script>
{% endblock script %}