{% extends 'index.html' %}

{% block title %}
    Rezervace | {{project_name}}
{% endblock title  %}

{% block content %}
    <p class="paragraph_1">
        Vítám Vás na naší stránce rezervace termínu pro naše relaxační masáže. Zarezervovat si svůj čas na chvíli odpočinku je snadné a rychlé. Stačí následovat několik jednoduchých kroků:
    </p>

    <ol>
        <li>
            <strong>Vyberte Typ Masáže:</strong> Nejprve si vyberte typ masáže, který byste chtěli zažít. Nabízím širokou škálu masáží, které Vám pomohou relaxovat a odstranit stres.
        </li>
        <li>
            <strong>Vyberte Datum a Čas:</strong> Zvolte si datum a čas, který Vám nejlépe vyhovuje. Jsem tu pro Vás, abych se postarala o Vaše pohodlí.
        </li>
        <li>
            <strong>Vyplňte Kontaktní Informace:</strong> Prosím, vyplňte krátký formulář s Vašimi kontaktními údaji, abych Vás mohla kontaktovat ohledně Vaší rezervace.
        </li>
        <li>
            <strong>Potvrďte Rezervaci:</strong> Klikněte na tlačítko "Potvrdit rezervaci" a Vaše žádost o rezervaci bude odeslána na zpracování.
        </li>
        <li>
            <strong>Potvrzení na Email:</strong> Po zpracování Vaší rezervace Vám zašleme potvrzovací email s detaily Vašeho termínu masáže. Ujistěte se, že Váš email je správně zadaný.
        </li>
    </ol>

    <p class="paragraph_1">
        Pokud byste raději komunikovali se mnou přímo nebo měli nějaké speciální požadavky, neváhejte mě kontaktovat. Klikněte na sekci "Kontakt" na mé stránce, kde najdete moje telefonní číslo a emailovou adresu. Jsem tu pro vás a ráda Vám poskytnu veškeré informace, které potřebujete.
    </p>

    <p>
        Děkuji za Váš zájem o mé masáže a těším se na to, že Vás brzy uvidím!
    </p>

     <div class="reservation_box">
        <div class="reservation_title">
            Rezervace
        </div>
        <form action="{{url_for('rezervace_create')}}" method="post">
            <label class="reservation_label" for="reservation_name">Jméno</label>
            <input style="max-width: 75px; width: 75px;" id="reservation_name" name="reservation_name" type="text" class="reservation_input_text" placeholder="Jméno">
            <label class="reservation_label" for="reservation_surname">Přijmení</label>
            <input style="max-width: 75px; width: 75px;" id="reservation_surname" name="reservation_surname" type="text" class="reservation_input_text" placeholder="Přijmení">
            <br>
            <label class="reservation_label" for="reservation_year">Rok narození</label>
            <input style="max-width: 50px; width: 50px;" id="reservation_year" name="reservation_year" type="number" min="1900" max="2100" class="reservation_input_text" placeholder="2000" value="2000">
            <br>
            <label class="reservation_label" for="reservation_email">E-mail</label>
            <input style="max-width: 200px; width: 200px;" id="reservation_email" name="reservation_email" type="text" class="reservation_input_text" placeholder="ukazkovy@email.cz">
            <br>
            <label class="reservation_label" for="reservation_phone">Telefonní číslo</label>
            <input style="max-width: 100px; width: 100px;" id="reservation_phone" name="reservation_phone" type="text" class="reservation_input_text" placeholder="000 000 000">
            <br>
            <br>

            <p>
                Termíny během týdne jsou stanoveny na 16:00 a dále, ale o víkendech jsem flexibilní a časy se mohou měnit podle potřeb. Víkendy jsou více volné a spontánní, což mi umožňuje Vám lépe vyhovět.
            </p>

            <label class="reservation_label" for="reservation_date">Datum</label>
            <input style="max-width: 100px; width: 100px;" id="reservation_date" name="reservation_date" type="date" class="reservation_input_text" placeholder="">
            <label class="reservation_label" for="reservation_time">Čas</label>
            <input style="max-width: 100px; width: 100px;" id="reservation_time" name="reservation_time" type="text" class="reservation_input_text" placeholder="16:00">
            
            <br>
            <input type="submit" class="reservation_submit_button" value="Potvrdit">
        </form>
     </div>
{% endblock content %}