{% extends 'index.html' %}

{% block title %}
    Rezervace | {{project_name}}
{% endblock title  %}

{% block content %}
    <p class="paragraph_1">
        Vítám Vás na naší stránce rezervace termínu pro naše relaxační masáže. Zarezervovat si svůj čas na chvíli odpočinku je snadné a rychlé. Stačí následovat několik jednoduchých kroků:
    </p>

    <ol>
        <li>
            <strong>Vyberte Typ Masáže:</strong> Nejprve si vyberte typ masáže, který byste chtěli zažít. Nabízím širokou škálu masáží, které Vám pomohou relaxovat a odstranit stres.
        </li>
        <li>
            <strong>Vyberte Datum a Čas:</strong> Zvolte si datum a čas, který Vám nejlépe vyhovuje. Jsem tu pro Vás, abych se postarala o Vaše pohodlí.
        </li>
        <li>
            <strong>Vyplňte Kontaktní Informace:</strong> Prosím, vyplňte krátký formulář s Vašimi kontaktními údaji, abych Vás mohla kontaktovat ohledně Vaší rezervace.
        </li>
        <li>
            <strong>Potvrďte Rezervaci:</strong> Klikněte na tlačítko "Potvrdit rezervaci" a Vaše žádost o rezervaci bude odeslána na zpracování.
        </li>
        <li>
            <strong>Potvrzení na Email:</strong> Po zpracování Vaší rezervace Vám zašleme potvrzovací email s detaily Vašeho termínu masáže. Ujistěte se, že Váš email je správně zadaný.
        </li>
    </ol>

    <p class="paragraph_1">
        Pokud byste raději komunikovali se mnou přímo nebo měli nějaké speciální požadavky, neváhejte mě kontaktovat. Klikněte na sekci "Kontakt" na mé stránce, kde najdete moje telefonní číslo a emailovou adresu. Jsem tu pro vás a ráda Vám poskytnu veškeré informace, které potřebujete.
    </p>

    <p>
        Děkuji za Váš zájem o mé masáže a těším se na to, že Vás brzy uvidím!
    </p>

     <div class="reservation_box">
        <div class="reservation_title">
            Rezervace
        </div>
     </div>
{% endblock content %}