{% extends 'index.html' %}

{% block title %}
    Home | {{project_name}}
{% endblock title  %}

{% block content %}
     <h1>Podmínky rezervace</h1>

     <p class="paragraph_1">
        <strong>Potvrzením rezervace souhlasím s tím, že:</strong>
     </p>
     
     <p class="paragraph_1">
        Takto zarezervovaný termín je závazný poté, co Vás prostřednictvím e-mailu kontaktuji a rezervaci Vám potvrdím. (Nepočítáme automatickou odpověď.) Pokud jste tedy zarezervovali termín omylem, prosím, ozvěte se mi a rezervaci zrušte.
    </p>

    <p class="paragraph_1">
        Telefonickou i elektronickou rezervaci je možno bezplatně zrušit do 23:59 předchozího dne. V případě nezrušení rezervace bez závažného důvodu si účtuji 50 % z původní ceny masáže. 
    </p>

     <h1>Zpracování osobních údajů</h1>
     <p class="paragraph_1">
        Toto zpracování bude prováděno v souladu s nařízením Evropského parlamentu a Rady (EU) 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů, zvaný také Obecné nařízení o ochraně osobních údajů (GDPR).
     </p>

    <p class="paragraph_1">
        <strong>Potvrzením rezervace souhlasím s tím, že:</strong>
    </p>

    <ul>
        <li>
            Moje osobní údaje budou zpracovávány za účelem rezervace masáže a organizace schůzek.
        </li>
        <li>
            Moje osobní údaje mohou být využity k tomu, abychom s vámi mohli komunikovat ohledně termínů masáže a případných změn v časech schůzek.
        </li>
        <li>
            Mé osobní údaje budou uchovávány po dobu nezbytnou pro účely uvedené výše a následně budou odstraněny, pokud nebude vyžadováno jinak platnými právními předpisy.
        </li>
    </ul>

    <p class="paragraph_1">
        Pro další informace o zpracování osobních údajů a o svých právech v této oblasti mě můžete kontaktovat na email.
    </p>
{% endblock content %}